<!-- include github-repository.html for {{include.file}}-->
{%- comment -%}<!--

Usage:

Include the `author` (eg. metalknightsFTC)
Include the `repository` (eg. metalknightsFTC.github.io)
include the `filePath` (eg. _includes/widgets/github-repository.html)

{%- include widgets/github-repository.html author='author' repository='repository name' path='the file path' -%}

{{ include.author }}/{{ include.repository }}/raw/master/{{ include.path }}

-->{%- endcomment ->}

<div>
	<script src="http://gist-it.appspot.com/github/{{include.file}}"></script>
</div>
<!-- end of include github-repository.html -->
